

@keyframes animationForBodyNow{
    from{
        transform: translateX(100%);
    }to{
        transform: translateX(0%);
    }
}


body {
   animation: animationForBodyNow 1s;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}


* {
    margin: 0;
    padding: 0;
    user-select: none;
}

main{
    display: none;
}


.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden; 
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0; 
    transition: opacity 0.1s; 
}

.banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 500%;
    height: 100%;
    text-align: center;
    line-height: 100vh;
    font-size: 100px;
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    mix-blend-mode: screen;
    color: black; 
    transition: font-size 0.1s; 
}
.hidden {
    display: none;
  }
  

  .AnimationImageScrolles {
    width: 100%;
    background-color: white;
    height: 900px;
    overflow: hidden;
}

.ImageDiv {
    width: 500px;
    height: 320px;
    background-image: url('img/mq7-original-aspect.avif');
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease; 
    max-width: 100%;
    max-height: 100vh; 
}

.Hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.Visible {
    opacity: 1;
}



.ContentForDefining{
    width: 100%;
    display: none;
}
  

















